.Modal {
    position: fixed;
    top: 0; left: 0;

    width: 100vw;
    height: 100vh;

    z-index: 20;
}

.Modal .overlay {
    position: relative;
    width: 100%;
    height: 100%;

    background-color: #70707025;
}

.enter {
    opacity: 0;
    transform: translateX(380px);
}

.enter-active {
    opacity: 1;
    transform: translateX(0);
    transition: all .3s ease;
}

.exit {
    transform: translateX(0);
}

.exit-active {
    transform: translateX(380px);
    transition: all .3s ease-in-out;
}